<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button (click)="showFiller = !showFiller" mat-raised-button></button>
  </mat-drawer>

  <mat-accordion>
    <!-- <span class="settingsLBL">GLOBAL SETTINGS</span> -->
    <mat-list-item
      style=" cursor: pointer"
      class="side-menu txt"
      (click)="router.navigate(['modifiers'])"
    >
      Modifers
    </mat-list-item>
    <mat-list-item
      style="cursor: pointer"
      class="side-menu txt"
      (click)="router.navigate(['category'])"
    >
      Categories
    </mat-list-item>
    <mat-list style="padding:0 !important;">
      <mat-list-item style="cursor: pointer" class="side-menu txt">
        Products
      </mat-list-item>

      <mat-list-item style=" cursor: pointer" class="side-menu txt">
        Sub Categories
      </mat-list-item>
    </mat-list>
  </mat-accordion>
</mat-drawer-container>
